%h2
  %span Размещение рекламы

.users_nav
  = link_to 'реклама на сайте', service_url(main_path(:action => 'adv')), :class => (params[:action] == 'adv') ? 'highlight' : nil
  %br
  = link_to 'статистика', service_url(main_path(:action => 'stats')), :class => (params[:action] == 'stats') ? 'highlight' : nil
%br