<h2><span><%= image_tag 'heart_sel.gif' %> Помощь проекту</span></h2>
<p>Есть несколько способов внести свой вклад в развитие тейсти.</p><br/>
<p>Первое — сообщайте нам обо всех ошибках найденных на сайте, потому что некоторые вещи мы просто упускаем из виду.</p><br/>
<p>Второе — вы можете сделать небольшое пожертвование, чтобы поддержать проект финансово, <%= link_to 'вот здесь', service_url(love_path) %></p>
<br/>
