- @title = 'Реклама на страницах проекта'

.onair
  %h2 Реклама на сайте
  
  %p Тейсти — сервис для ведения личных дневников, на местном языке называемые "тлогами". 

  %p параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста параграф текста 