<div data-role="content" data-theme="d">
  <ul data-role='listview' data-filter="true">
    <% current_user.all_friends.each do |user| %>
      <li>
        <% link_to user_url(user) do %>
          <%= userpic_tag(user, :blank => true) %>
          <%= content_tag :h3, h(user.url) %>
          <%
            diff = user.entries_count_for(current_user) - user.last_viewed_entries_count.to_i
            if diff > 0 %>
            <span class='ui-li-count'>+<%= diff %></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div data-role="footer">
</div>
<% content_for :header_r do %>
  <%= link_to 'Обновить', '', 'data-icon' => 'refresh', 'data-iconpos' => 'notext', :class => 't-btn-refresh-fl' %>
<% end %>

