<% @title = "Моё" %>
<div data-role="content" data-theme="d">
  <div class='t-entries'>
    <% @entries.each do |entry| %>
      <%= render :partial => 'entries/entry_display', :locals => { :entry => entry } %>
    <% end %>
  </div>
</div>