- content_for :head do
  = auto_discovery_link_tag(:rss, service_url(main_feed_path(:action => :live)))

.onair
  - @entries.each do |entry|
    = render :partial => 'entries/entry_display', :locals => { :entry => entry, :show_comments_bubble => true, :show_username => true, :show_tags => false, :comment_views => @comment_views }

  = paginate @entries