<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<!-- layout settings -->
<html>
<head>
	<%= render :partial => 'globals/head' %>
	<%= glued_stylesheet_link_tag 'light' %>
</head>
<body>
	<%= render :file => 'settings/social/index' %>
</body>