.hero-unit
  %h1
    Welcome, @#{current_user.url}
  %p in moderation we trust

  %p
    %small
      these people help to keep things clean and smooth:
      - User.find(User.moderators).each do |user|
        = link_to '@' + user.url, console_user_path(user)
