<div class="rel"><div class="service_date"<%= " title='#{entry.created_at.distance_between_in_words(Time.now, ' назад')}'" if params[:action] == 'daylog' %>><%-
  if entry.created_at.today?
  -%><span class="blue"><span>Сегодня<span class='bg_text_comma'>,</span></span></span><%-
  end
  -%><span class="bg_text_date"><span><%= entry.created_at.day %></span></span><span class="blue"><span><%= entry.created_at.month.to_rmonth %><%-
  if entry.created_at.same_day?(Time.now.yesterday) -%>,<%-
  end -%></span></span><%-
  if entry.created_at.same_day?(Time.now.yesterday) -%><span class="blue"><span>вчера</span></span><%-
  end -%></div></div>