/* andy's */


/* color picker */
#y-picker #yui-picker-controls-label { display: none; }
#y-picker .bd { font-size: 11px; border: 0; }
#y-picker .hd { border: 0; }
#y-panel div.bd { background-color: #333; }
div#y-panel_h.hd { font-size: 12px; background-color: #3c3c3c; background-image: none; border: 0; padding-left: 15px; color: white; font-family: 'Trebuchet MS', serif; font-weight: normal; margin: 0; }
#y-panel div.y-panel-bd { border: 0; color: white!important; padding-left: 10px; margin: 0; padding-top: 5px;}
#y-panel div.ft { font-size: 12px; background-color: #333; margin: 0; padding: 0; border: 0; text-align: right; color: white; padding-right: 20px; }
#y-panel div.ft a { padding-left: 4px; }
#y-panel div.ft .button { height: 20px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; padding-top: 0; line-height: 11px; }
#y-panel .yui-picker-controls { padding-left: 12px; padding-top: 12px; }


/* settings/social */
a.rss { padding-right: 18px; background:url('../images/feed-icon-14x14.png') no-repeat scroll 100% 50%; }

/* comments formatting */
div.comment_text p { margin-bottom: 1em; }

/* personal sidebar */
div#sidebar_personal ul { list-style-type: none; margin: 0; padding: 0; }
div#sidebar_personal ul li a.highlight { font-size: 1.1em; font-weight: bold; }
div#sidebar_personal ul li span { font-size: 0.8em; }

/* sidebar about, paragraph fixes */
div#sidebar_about_content p { display: block; padding-bottom: 1em; }
div#sidebar_about_content div#about_submenu span { font-size: 0.8em; }

/* anonymous entries page */
.anonymous_entry_delete_link { margin-top: 20px!important; }

/* feedback admin page */
.onair .feedback { margin: 20px 10px 10px 20px; }
.onair .feedback .feedback_buttons { font-size: 11px; color: #666; }

/* quotes fix */
div.quote_entry span.quote_entry_body p { display: inline; }
div.quote_entry span.quote_entry_source p { display: inline; font-style: italic; font-size: 90%; }

/* news message notify */
.main_page .top_menu li a sup {
  color: rgb(255, 4, 18);
  font-style: italic;
  font-size: 10px;
  padding-left: 3px;
}

/* disabled buttons */
input.disabled, input.disabled:active {
	color: #ccc!important;
	border: 3px double #ccc!important;
	border-top-color: #ddd!important;
	border-left-color: #ddd!important;
	cursor: default;
}

.anon_warning {
	color: #E69B96;
	font-size: 11px;
	width: 500px;
	margin-bottom: 20px;
}

.limit_exceeded {
/*	text-align: center;*/
	width: 60%;
	margin: 40px auto;
}
.limit_exceeded h2 {
	font-size: 120%;
	margin-bottom: 1em;
}
.limit_exceeded p {
	margin-bottom: 1em;
}


/* bookmate verstka */
.sidebar_books h2 a { color: white; text-decoration: none; }
.sidebar_books h2 img { vertical-align: middle;}
.sidebar_books span { background-color: white; }
.sidebar_books .sidebar_book {
	margin-bottom: 25px;
}
.sidebar_books .sidebar_book img {
	-webkit-box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
	-o-box-shadow: 3px 3px 15px rgba(0,0,0,0.3);	
	box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
	margin-bottom: 5px;
	width: 100px;
}
.sidebar_books .sidebar_book h3 a, .sidebar_books .sidebar_book h4 a {
	background-color: white;
}
.sidebar_books .sidebar_book h4, .sidebar_books .sidebar_book h3 {
	margin: 0 !important;
	padding: 0 !important;
}
.sidebar_books .sidebar_book h4 {
	font-weight: normal;
	font-size: 11px;
}

/* donations */
form.donation label { font-size: 11px; }
form.donation input.submit_donation { margin-top: 20px; margin-left: 380px; }
.donation_thanks { margin-left: 120px; margin-top: 50px; margin-bottom: 50px; }

/* whatever */
.cssdesign { margin: 5px 10px; }
.cssdesign h3 { font-size: 13px; }
.cssdesign .csscontent pre { font-size: 10px; overflow: hidden; white-space: pre-wrap;}
/*.cssdesign .csscontent*/

/* tags cloud on entry edit */
.entry_tags_listing { font-size: 11px; }
.entry_tags_listing a { padding: 0 2px; }

/* twitter icon */
#footer a img.f_twitter { vertical-align: bottom; }
#footer a img.f_facebook { vertical-align: bottom; }
#footer a img.f_vkontakte { vertical-align: bottom; }

/* new messages look */
.convos div.message_sender { left: -235px; padding-bottom:5px; position:absolute; width:200px; text-align:right; }
.convos div.message_sender a { font-size: 0.75em; background: #404040; color: white!important; width:auto!important; margin:0 0 0 0; padding:0 5px; display:inline; font-family: 'Georgia', 'Times New Roman', 'Courier New'; font-weight:bold; font-style:italic; }
.convos div.message_sender_timestamp { font-size: 0.75em; background: #404040; color: white!important; width: auto!important; margin: 0 0 0 0; padding: 0 5px; display: inline; font-family: 'Georgia', 'Times New Roman', 'Courier New'; }
/*.convos div.message_timestamp { left: -235px; padding-bottom: 5px; position: absolute; float: right; }*/


/* conversations */
.convos .conversations .conversation { margin: 0 4px 0px 4px; padding: 10px 31px 10px 31px; }
.convos .conversations .conversation_spacer { margin: 0px; padding: 5px 15px; }
.convos .conversations .conversation_spacer hr { border: 0px; border-top: 1px solid #ddd; }
.convos .conversation_subscribe_controls { position: absolute; vertical-align:middle; top: -17px; left: -26px;}
.convos .conversation .showonhover { display: none; }

.convos .conversation .body { font-size: 14px; font-family: Georgia; margin-bottom: 10px; }
.convos .conversation .already_replied { font-size: 10px; font-family: Arial; font-style: italic; margin-bottom: 10px;}
.convos .conversation .not_yet_replied { font-size: 10px; font-family: Arial; font-style: italic; margin-bottom: 10px;}
.convos .conversation .conversation_controls { font-size: 10px; font-family: Georgia, serif; }

.convos .conversation .conversation_controls .reply { float: left; }
.convos .conversation .conversation_controls .stats { float: left; position: absolute; left: 190px; }
/*.convos .conversation .conversation_controls .timestamp { float: right; }*/
.convos .conversation .conversation_controls .delete { float: right; position: relative; left: 15px;}

/* conversation */
.convos .messages { margin: 0 4px 0px 4px; padding: 0px; }
.convos .messages .showonhover { display: none; }
.convos .messages .message { margin: 0px; padding: 10px 31px 10px 31px; }
.convos .messages .message_spacer { margin: 0px; padding: 5px 30px; }
.convos .messages .message_spacer hr { border: 0px; border-top: 1px solid #eee; }
.convos .messages .message .body { font-size: 14px; font-family: Georgia; margin-bottom: 5px; width: 460px; }
.convos .messages .message .message_controls { font-size: 10px; font-family: 'Georgia'; position: relative; top: 4px;}
.convos .messages .message .message_controls .delete { position: absolute; left: 473px; }

.convos .messages form { /*margin: 0 4px 0px 4px; */padding: 10px 31px 30px 31px; }
.convos .messages .message_submit span { font-size: 11px; color: #888888; }
.convos .messages .message_submit input { float:right; }
.convos .messages #submitting { position: absolute; top: 2px; left: -25px; }

.convos .centered { margin: 0px; padding: 10px 31px 30px 31px; }
.convos .centered .linkback { text-align: center; margin-top: 40px; }

/* new message */
.convos #new_message { width: 450px; padding: 10px 31px 30px 31px; margin: 4px; }
.convos #new_message #verifying { position: absolute; left: -25px; top: 4px;}
.convos #new_message .message_submit .submit_button { float: right; }
.convos #new_message .message_recipient_block { margin-bottom: 20px; }
.convos #new_message .message_recipient .subtext { font-size: 11px; font-family: Georgia;}
.convos #new_message .message_recipient .subtext .neutral { color: #888888; }
.convos #new_message .message_recipient .subtext .success { color: #5e8865; }
.convos #new_message .message_recipient .subtext .success a { color: #5e8865!important; }
.convos #new_message .message_recipient .subtext .failure { color: #883d3d; }
.convos #new_message .message_submit span { font-size: 11px; color: #888888; }
.convos #new_message #submitting { position: absolute; top: 2px; left: -25px; }
.convos #new_message label { font-size: 11px; font-family: Georgia; padding-left: 2px; margin-bottom: 5px; display: block;}

/* pagination */
.convos .conversations .entry_pagination, .convos .messages .entry_pagination { padding: 10px 49px 20px 50px; }

/* header */
.convos .header { padding: 0px 0px 0px 31px; margin: 0px 0px 30px 4px; }
.convos .header .return { position: absolute; top: -25px; left: -13px;}
.convos .header .return a { text-decoration: none; color: #808080; font-size: 0.75em; }
.convos .header h3 { padding: 0px; margin: 0px; }
.convos .header h3 .highlight { color: black; padding: 0 4px; }

/* convos sidebar */
div#sidebar_conversations ul { list-style-type: none; padding: 0px; margin: 0px;}
div#sidebar_conversations_help ul { list-style-type: none; padding: 0px; margin: 0px;}
div#sidebar_conversations_help ul li { margin-bottom: 1em; }