/* andy's */


/* color picker */
#y-picker #yui-picker-controls-label { display: none; }
#y-picker .bd { font-size: 11px; border: 0; }
#y-picker .hd { border: 0; }
#y-panel div.bd { background-color: #333; }
div#y-panel_h.hd { font-size: 12px; background-color: #3c3c3c; background-image: none; border: 0; padding-left: 15px; color: white; font-family: 'Trebuchet MS', serif; font-weight: normal; margin: 0; }
#y-panel div.y-panel-bd { border: 0; color: white!important; padding-left: 10px; margin: 0; padding-top: 5px;}
#y-panel div.ft { font-size: 12px; background-color: #333; margin: 0; padding: 0; border: 0; text-align: right; color: white; padding-right: 20px; }
#y-panel div.ft a { padding-left: 4px; }
#y-panel div.ft .button { height: 20px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; padding-top: 0; line-height: 11px; }
#y-panel .yui-picker-controls { padding-left: 12px; padding-top: 12px; }


/* settings/social */
a.rss { padding-right: 18px; background:url(../images/feed-icon-14x14.png) no-repeat scroll 100% 50%; }

/* comments formatting */
div.comment_text p { margin-bottom: 1em; }

/* personal sidebar */
div#sidebar_personal ul { list-style-type: none; margin: 0; padding: 0; }
div#sidebar_personal ul li a.highlight { font-size: 1.1em; font-weight: bold; }
div#sidebar_personal ul li span { font-size: 0.8em; }

/* sidebar about, paragraph fixes */
div#sidebar_about_content p { display: block; padding-bottom: 1em; }
div#sidebar_about_content div#about_submenu span { font-size: 0.8em; }

/* anonymous entries page */
.anonymous_entry_delete_link { margin-top: 20px!important; }

/* feedback admin page */
.onair .feedback { margin: 20px 10px 10px 20px; }
.onair .feedback .feedback_buttons { font-size: 11px; color: #666; }

/* quotes fix */
div.quote_entry span.quote_entry_body p { display: inline; }
div.quote_entry span.quote_entry_source p { display: inline; font-style: italic; font-size: 90%; }

/* new messages look */
div.message_sender {
	left: -240px;
	padding-bottom:5px;
	position:absolute;
	width:200px;
	text-align:right;
}
div.message_sender a {
	font-size:0.75em;
	background: #404040;
	color:white!important;
	width:auto!important;
	margin:0 0 0 0;
	padding:0 5px;
	display:inline;
	font-family:Georgia, Times New Roman, Courier New;
	font-weight:bold;
	font-style:italic;
} 

/* news message notify */
.main_page .top_menu li a sup {
  color: rgb(255, 4, 18);
  font-style: italic;
  font-size: 10px;
  padding-left: 3px;
}

/* textarearesizer */
div.grippie {
	background:#EEEEEE url(grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}
