<!--
  пожалуйста, прежде чем скрыть или гневно удалить этот блок, прочтите этот пост:
  http://andy.mmm-tasty.ru/entries/11479576

  спасибо
-->
<div class='sidebar_section'>
  <%= link_to 'Реклама', 'http://www.adeasy.ru/zone/www.mmm-tasty.ru/1792?utm_source=www.mmm-tasty.ru&utm_medium=banner_link&utm_campaign=remnant&utm_term=1792', :class => 'sidebar_toggle' %>

  <div class='sidebar_section_content' style='width: 180px; padding: 0; margin-top: 10px'>
    <div id='div-gpt-ad-1341957158011-0' style='width:180px; height:150px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1341957158011-0'); });
    </script>
    </div>
  </div>
</div>
