<% @title = current_site.tlog_settings.title %>

<div class='help_intro'>
      <h2>Доступ закрыт</h2>
      <% if current_site.tlog_settings.privacy == 'rr' %>
        <p>Извините, но доступ к данному тлогу возможен только зарегистрированным пользователям.</p>
      <% else %>
        <p>Извините, но доступ к данному тлогу и его записям ограничен его владельцем.</p>
      <% end %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'tlog/sidebar' %>  
<% end %>
