<% @title = '404 - тлог не найден' %>
По этому адресу тлог не найден
<br/>
<%= link_to "&#x2190; вернуться на главную", service_url %>


<script type='text/javascript'>
	var _gaq = _gaq || [];
  _gaq.push(['_trackEvent', 'Error', '404', 'Tlog not found']);
</script>