Здравствуйте, <%= @user.username %>!

 Для того чтобы установить новый пароль для Вашего аккаунта на ммм...тейсти, пройдите, пожалуйста, по этой ссылке:
  <%= service_url(recover_password_path(:user_id => @user.id, :secret => @user.recover_secret)) %>
 
 Если Вы не запрашивали восстановление пароля то, пожалуйста, проигнорируйте это письмо.

Спасибо!