<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head></head>
	<body style="padding:30px 20px 50px 30px; margin:0; background-color: #ffffff;">     
    <p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;">
      <b>Здравствуйте, <%= h @user.username %>!</b>
    </p>
		
		<p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;">
		  Для того чтобы установить новый пароль для вашего аккаунта на ммм...тейсти, пройдите, пожалуйста, по этой ссылке:
		</p>
		
		<p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;">
		  <%- link = service_url(recover_password_path(:user_id => @user.id, :secret => @user.recover_secret)) -%>
		  <%= link_to link, link %>
		</p>
		
		<p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040; text-align:right;">
		  C уважением, <img src="<%= service_url %>/images/letter-logo.gif" width='101' height='27' style="position:relative; bottom:-18px;	margin-left:4px;" />
		</p>
	</body>
</html>