Парни,

новое пожертвование, на этот раз <%= @user.url %> <%= @user.gender('пожертвовал', 'пожертвовала') %> <%= @transaction.amount %> рублей, за что <%= @user.gender('ей', 'ему') %> ГИГАНТСКОЕ спасибо.

Итого в копилке: <%= Transaction.success.sum(:amount) %> рублей.

--
С уважением, Ммм... тейсти.