<%-
  @sender = @message.user
-%>
Здравствуйте, <%= h @user.username %>!

Пользователь <%= h @sender.url %> отправил вам сообщение:
  <%= h @message.body %>

Посмотреть на сайте:
<%- convo_link = service_url(conversation_path(@message.conversation)) -%>
<%= link_to convo_link, convo_link %>

--
С уважением, Ммм... тейсти.
