<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Дару-Дар</title>
    <%= stylesheet_link_tag 'specials/darudar/style.css' %>
    <%= render :partial => 'globals/gajs' %>
  </head>
  <body>
  
    <div class="row1 row">
      <div class="inner">
        <a href="http://www.mmm-tasty.ru/" class="mmmtasty" title="На главную Тейсти"></a>
        <span class="logo"></span>
      </div>
    </div>
    
    <div class="row2 row">
      <div class="inner">
        <div class="mainphoto"></div>
        <div class="text">
          <h2 class="title">Привет!</h2>
          <p>Дару-дар — это онлайн-сообщество, в котором люди дарят друг другу свои услуги и вещи, не требуя чего-либо взамен.
          В нашем сообществе уже более 160 тысяч участников из России, Украины, Беларуси, Казахстана и других стран.
          Мы встречаемся и дарим друг другу самые разные <a href="http://darudar.org/group/favorites/gifts/">вещи</a>, даже если никогда раньше до этого не виделись!
          За каждый подеренный дар мы пишем <a href="http://darudar.org/thanks/best/">благодарности</a>.</p>
        </div>
        
        <div class="join">
          <div class="help">
            <div class="label"><a href="http://darudar.org/group/favorites/gifts/">Дары</a></div>
            <div class="description">вещи и услуги, которые дарят<br>
            сообщники Дару-дара</div>
          </div>
          <a href="https://darudar.org/registration/" class="join_button"></a>
        </div>
        
      </div>
    </div>
    
    <div class="row3 row">
      <div class="inner">
        <div class="text">
          <h2>Выбери подарок!</h2>
          <p>Сейчас мы проводим кампанию народного финансирования Дару-дара. И просим тебя стать народным <a href="http://darudar.org/page/crowdfunding2012/responses/">меценатом</a> проекта, помочь нам собрать сумму, с помощью которой мы значительно улучшим Дару-дар в течение следующего года. Только в ноябре и декабре, поддержав Дару-дар, можно получить в благодарность уникальные <a href="http://smipon.ru/projects/237/news/204">подарки</a>, посвященные нашему сообществу.</p>
        </div>
        <div class="gifts">
          
          <!-- Поддержи Дару-дар //-->
          <a href="http://smipon.ru/projects/237" class="supported"></a>
          
          
          <div class="label label1">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=2&amount=300">Магнит</a></h3>
            <p>с рисунком,<br>
            который будет создан<br>
            сообщниками Дару-дара<br>
            в специальном конкурсе</p>
          </div>
          
          <div class="label label2">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=5&amount=1000">Футболка</a></h3>
            <p>с рисунком,<br>
            который будет создан<br>
            сообщниками Дару-дара<br>
            в специальном конкурсе</p>
          </div>
          
          <div class="label label3">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=4&amount=750">Сумка</a></h3>
            <p>с рисунком,<br>
              который будет создан<br>
              сообщниками Дару-дара<br>
              в специальном конкурсе</p>
          </div>
          
          <div class="label label4">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=8&amount=3000">Изделие</a></h3>
            <p>ручной работы<br>
              мастеров Дару-дара,<br>
              созданные специально<br>
              для меценатов</p>
          </div>
          
          <div class="label label5">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=3&amount=500">Открытки</a></h3>
            <p>«Я дарю тебе»,<br>
              нарисованные<br>
              сообщниками Дару-дара<br>
              к его 4-летию</p>
          </div>
          
          <div class="label label6">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=2&amount=300">Наклейки</a></h3>
            <p>с рисунками,<br>
              которые будут созданы<br>
              сообщниками Дару-дара<br>
              в специальном конкурсе</p>
          </div>
          
          <div class="label label7">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=2&amount=300">Значок</a></h3>
            <p>с рисунком,<br>
              который будет создан<br>
              сообщниками Дару-дара<br>
              в специальном конкурсе</p>
          </div>
          
          <div class="label label8">
            <h3><a href="http://smipon.ru/projects/237/pledge?rewardid=7&amount=2000">Толстовка</a></h3>
            <p>с рисунком,<br>
                который будет создан<br>
                сообщниками Дару-дара<br>
                в специальном конкурсе</p>
          </div>

        </div>
      </div>
    </div>
    
    <div class="row row4">
      <div class="inner">
        <div class="text">
          <h2>Участвуй в конкурсах!</h2>
          <p>Приглашаем тебя также поучаствовать в создании модного стиля Дару-дара, оформив одну или несколько дару-даровских вещей: значок, сумку, магнит, футболку, сумку, толстовку.
          Эти вещи захотят носить многие участники и поклонники нашего сообщества. Победители конкурса получат интересные подарки: настольные игры!</p>
        </div>
        <div class="konkurs">
          <a href="http://darudar.org/present/79/" class="pic1 pic" title="Настольная игра «Крокодил»"></a>
          <a href="http://darudar.org/present/78/" class="pic2 pic" title="Настольная игра «Опята»"></a>
          <a href="http://darudar.org/present/76/" class="pic3 pic" title="Настольная игра «Диксит»"></a>
          <a href="http://darudar.org/present/75/" class="pic4 pic" title="Настольная игра «Таймлайн»"></a>
          <a href="http://darudar.org/present/74/" class="pic5 pic" title="Настольная игра «Уга Буга»"></a>
          <a href="http://darudar.org/present/77/" class="pic6 pic" title="Настольная игра «Данетки»"></a>
        </div>
        <div class="about_konkurs">
          <div class="about about1">
            <h3><a href="http://darudar.org/present/79/">«Крокодил»</a></h3>
            <p>настольная игра,<br>
            приз победителю<br>
            конкурса на рисунок<br>
            для толстовки</p>
          </div>
          
          <div class="about about2">
            <h3><a href="http://darudar.org/present/74/">«Уга Буга»</a></h3>
            <p>настольная игра,<br>
            приз победителю<br>
            конкурса на рисунок<br>
            для значка</p>
          </div>
          
          <div class="about about3">
            <h3><a href="http://darudar.org/present/76/">«Диксит»</a></h3>
            <p>настольная игра,<br>
            приз победителю<br>
            конкурса на рисунок<br>
            для футболки</p>
          </div>

          <div class="about about4">
            <h3><a href="http://darudar.org/present/78/">«Опята»</a></h3>
            <p>настольная игра,<br>
            приз победителю<br>
            конкурса на рисунок<br>
            для наклейки</p>
          </div>

          <div class="about about5">
            <h3><a href="http://darudar.org/present/75/">«Таймлайн»</a></h3>
            <p>настольная игра,<br>
            приз победителю<br>
            конкурса на рисунок<br>
            для сумки</p>
          </div>

          <div class="about about6">
            <h3><a href="http://darudar.org/present/77/">«Данетки»</a></h3>
            <p>настольная игра,<br>
            приз победителю<br>
            конкурса на рисунок<br>
            для магнита</p>
          </div>

        </div>
      </div>
    </div>
    
    <div class="row row5">
      <div class="inner">
        <a href="http://darudar.org" class="logo" title="На главную Дару-дара"></a>
        <div class="share">
          <a href="http://www.facebook.com/darudar" class="facebook" title="Страница Дару-дара на Facebook"></a>
          <a href="http://vk.com/darudar" class="vkontakte" title="Страница Дару-дара во Вконтакте"></a>
          <a href="https://plus.google.com/116150183786239807779/" class="googleplus" title="Страница Дару-дара на Google+"></a>
          <a href="mailto:hello@darudar.org" class="mail" title="Пишите нам!"></a>
        </div>
      </div>
    </div>
    
  </body>
</html>
