- @title = "премиум возможности, #{current_user.username}"
- content_for :header do
  Тейсти-премиум

%h2 Что дает премиум подписка на тейсти?

.premium-features
  %p
    %b Черный список.
    Вы сможете добавлять определенных пользователей в черный список и они больше не смогут попасть в ваш тлог, не говоря уже о том, чтобы оставить в нем комментарий!

  %p
    %b Открытые анонимки.
    Вы сможете сразу начать писать анонимки не дожидаясь пока пройдет 6 месяцев с начала регистрации.

  %p
    %b Никаких ограничений.
    Точнее, ограничения все-равно остаются, но они такие же как у самых старых пользователей. Плюс, вы сможете сразу писать анонимки не дожидаясь, пока пройдет 6 месяцев со дня регистрации.

  %p
    %b Свой фон на главной.
    Поменяйте фон на главной странице на свой, либо выберите один из нашей скромной коллекции.

  %p
    %b Только для себя.
    В настроках приватности у вас появится еще одна опция — только для себя. Свой тлог сможете видеть только вы.
  
  %p
    %b Несколько аккаунтов.
    Если вы ведете несколько тлогов одновременно, то переключаться между ними будет проще простого.

%h2 Почему это все платно?
%p
  За все хорошее в этом мире нужно платить. Даже если вы не будете пользоваться ни одим из перечисленных сервисов, ваша подписка позволит нам посвятить еще больше времени на совершенствование сайта и расширение его возможностей.

%center
  = link_to 'Оплатить', user_url(current_site, settings_premium_path(:action => 'choose')), :id => 'fancybox_payment_choose'
  
  :javascript
    jQuery('#fancybox_payment_choose').fancybox({
      titleShow: false,
      centerOnScroll: true,
      autoDimensions : false,
      hideOnOverlayClick : true,
      hideOnContentClick: false,
      width: 650,
      height: 400
    });