!!! 5
%html
  %head
    :javascript


  %body
    .t-premium-background
      %h2 Загрузка своей собственной фоновой картинки
    
      %form{:method => 'POST', :action => user_url(current_site, settings_premium_path(:action => 'background')), :enctype => 'multipart/form-data'}
        %input{:type => 'hidden', :name => request_forgery_protection_token, :value => form_authenticity_token}
        %label
          Выберите файл с изображением:
          %input{:type => 'file', :name => 'image'}
          
        %input{:type => 'submit', :class => 'button', :value => 'Сохранить'}
