<div class='section'>
  <h2><span>Реклама</span></h2>

  <div id='bm_quotes'>

    <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: medium none; overflow: hidden; width: 300px; height: 250px;" src="http://www.bookmate.ru/banner_quotes?type=right"></iframe>
  </div>
</div>
