<%-
  book = {
    :cover  => 'http://assets.bookmate.com/9256733379/assets/documents-covers/8e/ad/S9lYi4CJ-large.jpg',
    :book   => 'http://www.bookmate.com/books/GUIz5mnt',
    :uuid   => 'S9lYi4CJ',
    :title  => '«Трущобные люди» (Владимир Гиляровский)'
  }
-%>
<script src="http://www.bookmate.com/embed.js?parse=true"></script>
<div class='section'>
	<h2><span>Книга дня</span></h2>

  <div class='sidebar_book'>
    <%= link_to image_tag(book[:cover], :style => '-moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3); -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3); box-shadow: 5px 5px 10px rgba(0,0,0,0.3);', :alt => book[:title], :title => book[:title]), book[:book], :title => book[:title] %>
    <div style='position: relative; top: -70px; left: 17px'>
      <bm:read src="http://www.bookmate.com/r#d=<%= book[:uuid] %>" style="light"></bm:read>
    </div>
  </div>
</div>
