<div class='section'>
  <h2><span>Реклама</span></h2>

  <div id='adsense'>
    <!-- 240x400 -->
    <div id='div-gpt-ad-1341942108431-0' style='width:240px; height:400px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1341942108431-0'); });
    </script>
    </div>
  </div>
</div>