<div class='section'>
  <h2><span>Тейсти Радио</span></h2>
  
  <div id='tastyradio'>
    <div class='radiocontrol'>
	    <p>
	      <%= link_to "Включить", service_url(tastyradio_path), :target => '_blank', :id => 'tastyradio_link' %>
	      <%= image_tag 'popout.jpg', :class => 'popout', :title => 'Ссылка откроется в новом окне' %>
	    </p>
	  </div>

    <% radio = User.find_by_url('radio')
      announce_entries = radio.entries.count_tagged_with('announce', :include_private => true)
      if announce_entries > 0 && false
        announces = radio.entries.find_tagged_with('announce', :limit => 5, :order => 'entries.id DESC')
    %>
    <br/>
    <div class='radioannounces'>
      <p class='radioannounce_header'>Анонсы:</p>
	    <% announces.each do |entry| %>
	      <div class='radioannounce'>
	        <%= white_list_html entry.data_part_1, :flash_width => 200, :link_target => '_blank' %>
	        <span><%= timeago(entry.created_at) %></span>
	      </div>
      <%  end %>
    </div>
    <% end %>
  </div>
  
  <script type='text/javascript'>
    jQuery('#tastyradio_link').popupWindow({ height: 300, width: 500, windowName: 'Tasty Radio', top: 50, left: 50 });
    jQuery('abbr.timeago').timeago();
  </script>
</div>