<%
print_mentions = []
@mentions.each do |mention|
	print_mentions.push({ 'pic' => userpic_src(mention, { :style => :thumb64 }), 'url' => mention.url }) if mention.url
end
%>
{"success":1,"list":<%= print_mentions.to_json %>}