<div class='onair feedbacks'>
  <%= content_tag :h2, @feedbacks.blank? ? 'Похоже, что все уже опубликовано' : 'Неопубликованные отзывы' %>
  <%= render :partial => 'feedback', :collection => @feedbacks %>
  <%= paginate @feedbacks %>
</div>