.eula
  %p
    Настоящее Пользовательское соглашение (далее&nbsp;&mdash; &laquo;Соглашение&raquo;) регламентирует отношения между администрацией сервиса &laquo;Тейсти&raquo; (далее&nbsp;&mdash; Администрация) и&nbsp;физическим лицом (далее&nbsp;&mdash; &laquo;Автор&raquo;) по&nbsp;размещению текстовых материалов, комментариев к&nbsp;ним и&nbsp;изображений, (далее&nbsp;&mdash; Материалов) на&nbsp;<nobr>WEB-сайте</nobr> в&nbsp;сети Интернет по&nbsp;адресу
    %a{:href => "http://www.mmm-tasty.ru"} http://www.<nobr>mmm-tasty</nobr>.ru
    (далее&nbsp;&mdash; Сайт). Автором признается физическое лицо, надлежащим образом присоединившееся к&nbsp;настоящему Пользовательскому Соглашению и&nbsp;сделавшее на&nbsp;Сайте одну или несколько Записей.
  %ol
    %li
      %p Зарегистрировать свой тлог на&nbsp;Сайте может любое физическое лицо, достигшее возраста, допустимого в&nbsp;соответствии с&nbsp;законодательством Российской Федерации для присоединения к&nbsp;Соглашению в&nbsp;предусмотренном в&nbsp;нем порядке. Для этого необходимо иметь электронный почтовый ящик.
    %li
      %p На Сайте существует три основных способа размещения Материалов:
      %ul
        %li
          %p &laquo;Тлог&raquo;&nbsp;&mdash; <nobr>Интернет-дневник</nobr>, представляющий собой личное виртуальное пространство его Автора, ограниченное рамками настоящего Соглашения. Автор целиком и&nbsp;полностью определяет параметры доступа, стиль и&nbsp;нормы поведения в&nbsp;своем дневнике, а&nbsp;также несет ответственность за&nbsp;содержание Материалов в&nbsp;нем.
        %li
          %p &laquo;Сообщество&raquo;&nbsp;&mdash; коллективный тематический Тлог.&nbsp;Создатель Сообщества определяет его тему, описание и&nbsp;правила. В&nbsp;помощь себе создатель Сообщества может назначить смотрителя (-лей) и&nbsp;модератора (-ов).
        %li
          %p &laquo;Комментарии&raquo;&nbsp;&mdash; отзывы пользователей на&nbsp;размещенные на&nbsp;Сайте Материалы, а&nbsp;также ответы на&nbsp;эти отзывы.
    %li
      %p Условия размещения Материалов
      %ol
        %li
          %p Автор соглашается с&nbsp;тем, что он&nbsp;несет полную ответственность в&nbsp;отношении Материалов, размещаемых им&nbsp;на&nbsp;Сайте. Администрация не&nbsp;несет ответственности за&nbsp;содержание Материалов и&nbsp;за&nbsp;соответствие их&nbsp;требованиям законодательства, за&nbsp;нарушение авторских прав, несанкционированное использование товарных знаков, наименований фирм и&nbsp;их&nbsp;логотипов, а&nbsp;также за&nbsp;возможные нарушения прав третьих лиц в&nbsp;связи с&nbsp;размещением Материалов на&nbsp;Сайте. В&nbsp;случае поступления претензий от&nbsp;третьих лиц, связанных с&nbsp;размещением Материалов, Автор самостоятельно и&nbsp;за&nbsp;свой счет урегулирует указанные претензии.
        %li
          %p До&nbsp;тех пор, пока не&nbsp;установлено иное, все личные имущественные и&nbsp;неимущественные права на&nbsp;Материалы принадлежат разместившему их&nbsp;Автору. Автор предупрежден об&nbsp;установленной действующим законодательством Российской Федерации ответственности за&nbsp;неправомерное использование и&nbsp;размещение чужих произведений. В&nbsp;случае если будет установлено, что разместивший текст или фотографию Автор не&nbsp;является их&nbsp;правообладателем, эти Материалы будут немедленно изъяты из&nbsp;свободного доступа по&nbsp;первому требованию законного правообладателя.
        %li
          %p Ответственность за&nbsp;несанкционированное копирование и&nbsp;использование Материалов несут лица и&nbsp;организации, неправомочно использовавшие Материалы, опубликованные на&nbsp;данном ресурсе.
        %li
          %p Автор соглашается с&nbsp;тем, что Администрация вправе размещать на&nbsp;страницах, содержащих Материалы Автора, рекламные баннеры, объявления, а&nbsp;также иную информацию по&nbsp;своему усмотрению.
        %li
          %p По&nbsp;умолчанию все Материалы Автора, размещаемые на&nbsp;Сайте, и&nbsp;комментарии, оставленные к&nbsp;этим Материалам, доступны всем пользователям. Тем не&nbsp;менее, Автор имеет возможность ограничить доступ других пользователей к&nbsp;своим Материалам.
        %li
          %p Автор не&nbsp;имеет права осуществлять размещение (<nobr>в т. ч.</nobr> массовое) Материалов рекламного или агитационного характера (<nobr>в т. ч.</nobr> баннеров), коммерческих предложений, антирекламы, &laquo;писем счастья&raquo;, ссылок с&nbsp;рефералами (участие в&nbsp;сетевом маркетинге). Запрещается также массовое размещение рекламы тлогов и&nbsp;сообществ в&nbsp;сообществах и&nbsp;комментариях к&nbsp;записям в&nbsp;тлогах, если сообщества и&nbsp;записи в&nbsp;тлогах не&nbsp;имеют общую тему с&nbsp;рекламируемыми тлогами и&nbsp;сообществами.
        %li
          %p Запрещаются действия, ставящие своей целью накрутку рейтингов проекта (имитация активности, создание новых Сообществ для раскрутки существующих <nobr>и т. п.</nobr>). Администрация оставляет за&nbsp;собой право удалять Материалы и&nbsp;снимать раскручиваемые Тлоги или Сообщества из&nbsp;рейтинга, если сочтет их&nbsp;нахождение в&nbsp;рейтинге необоснованным.
        %li
          %p Размещаемые на Сайте Материалы не должны:
          %ul
            %li
              %p нарушать действующее законодательство, честь и&nbsp;достоинство, права и&nbsp;охраняемые законом интересы третьих лиц;
            %li
              %p способствовать разжиганию религиозной, расовой или межнациональной розни, содержать попытки разжигания вражды или призывы к&nbsp;насилию;
            %li
              %p не&nbsp;должны пропагандировать фашизм и&nbsp;идеологию расового превосходства;
            %li
              %p носить непристойный или оскорбительный характер;
            %li
              %p содержать рекламу наркотических веществ, попытки распространения наркотиков, рецепты их&nbsp;изготовления и&nbsp;советы по&nbsp;употреблению;
            %li
              %p содержать порнографические изображения и&nbsp;тексты, содержащие сцены педо-, зоо- и&nbsp;некрофилии и&nbsp;других сексуальных извращений;
            %li
              %p содержать сцены насилия, либо бесчеловечного обращения с&nbsp;животными, <nobr>и т. д.</nobr>;
            %li
              %p содержать описание средств и&nbsp;способов суицида, любое подстрекательство к&nbsp;его совершению;
            %li
              %p нарушать права несовершеннолетних лиц;
            %li
              %p нарушать авторские и смежные права третьих лиц;
            %li
              %p содержать материалы и/или технические решения, автоматически, без явного предварительного согласия пользователя добавляющего программный код в&nbsp;систему пользователя, либо изменяющие системные настройки системы пользователя;
            %li
              %p размещать Материалы, содержащие компьютерные вирусы либо программы, способные прервать или нарушить нормальное функционирование компьютерного оборудования и&nbsp;программного обеспечения, а&nbsp;также средств телекоммуникации любых лиц.
        %li
          %p Администрация имеет право отказать Автору в&nbsp;размещении Материалов и&nbsp;доступе к&nbsp;проекту, а&nbsp;также удалить Материалы по&nbsp;своему усмотрению и&nbsp;любой причине, в&nbsp;том числе, если их&nbsp;содержание противоречит нормам этики и&nbsp;морали, не&nbsp;соответствует требованиям действующего законодательства Российской Федерации, противоречит требованиям настоящего Соглашения и&nbsp;правилам Администрации Сайта. При этом Администрация Сервиса не&nbsp;обязана уведомлять Автора о&nbsp;причинах такого отказа либо удаления.
        %li
          %p Администрация старается обеспечивать бесперебойную работу Сайта, однако не&nbsp;несет ответственности за&nbsp;полную или частичную утрату Материалов, размещаемых Автором, а&nbsp;также за&nbsp;недостаточное качество или скорость предоставления услуги.
        %li
          %p В&nbsp;случае нарушения настоящего Пользовательского соглашения, в&nbsp;частности, размещения Материалов с&nbsp;нарушением п. 3.8 настоящего Соглашения, Администрация вправе удалить записи или комментарии в&nbsp;любом дневнике или сообществе, а&nbsp;также применить следующие санкции к&nbsp;любому зарегистрированному пользователю:
          %ul
            %li
              %p удалить Материалы, нарушающие Соглашение, в&nbsp;случае отказа Автора подчиниться указаниям Администрации;
            %li
              %p удалить дневник;
            %li
              %p блокировать дальнейшее создание дневников с&nbsp;почтового ящика пользователя;
    %li
      %p Настоящее Соглашение является юридически обязывающим договором между Автором и&nbsp;Администрацией.
    %li
      %p Все возможные споры по&nbsp;поводу отношений, регулируемых настоящим Соглашением, разрешаются согласно нормам российского права.
    %li
      %p Автор, считающий, что его права и&nbsp;интересы нарушены <nobr>из-за</nobr> действий Администрации или третьих лиц в&nbsp;связи с&nbsp;размещением на&nbsp;Сайте <nobr>каких-либо</nobr> Материалов, направляет претензию по&nbsp;адресу электронной почты <a href="mailto:feedback@mmm-tasty.ru">feedback@<nobr>mmm-tasty</nobr>.ru</a>. Материалы будут немедленно изъяты из&nbsp;свободного доступа по&nbsp;первому требованию законного правообладателя.
    %li
      %p Пользовательское Соглашение может быть изменено Администрацией без <nobr>какого-либо</nobr> специального уведомления. Наиболее актуальная версия Соглашения находится на&nbsp;странице по&nbsp;адресу <a href="http://www.mmm-tasty.ru/account/eula">http://www.<nobr>mmm-tasty</nobr>.ru/account/eula</a>
    %li
      %p В&nbsp;случае принятия <nobr>нормативно-правовых</nobr> актов органами власти Российской Федерации, затрагивающих целиком или в&nbsp;части функционирование Сайта, Администрация сохраняет за&nbsp;собой право любых изменений в&nbsp;функционировании Сайта, направленных на&nbsp;приведение последнего в&nbsp;соответствие с&nbsp;новыми нормами.
