<% @title = "Регистрация нового пользователя на #{current_service.domain}" %>

<div class='center_data_big_form'>
  <b>Извините, но зарегистрироваться на тейсти можно только в субботу или воскресенье вечером.</b>
</div>