!!! 5
%html
  %head
  
  %body
    .t-settings-nsfw
      %h2 Настройки NSFW
      %p Посты, помеченные стикером NSFW чаще всего содержат материал, не предназначенный для просмотра на работе либо содержащие материалы 18+
      
      %form
        %select{:name => 'nsfw'}
          %option{:value => ''} Показывать
          %option{:value => 'hide'} Скрывать
          %option{:value => 'disable'} Отключить