/*
 * Additional Tasty CSS 2.0
 */

/* color picker */
#y-picker #yui-picker-controls-label { display: none; }
#y-picker .bd { font-size: 11px; border: 0; }
#y-picker .hd { border: 0; }
#y-panel div.bd { background-color: #333; }
div#y-panel_h.hd { font-size: 12px; background-color: #3c3c3c; background-image: none; border: 0; padding-left: 15px; color: white; font-family: 'Trebuchet MS', serif; font-weight: normal; margin: 0; }
#y-panel div.y-panel-bd { border: 0; color: white!important; padding-left: 10px; margin: 0; padding-top: 5px;}
#y-panel div.ft { font-size: 12px; background-color: #333; margin: 0; padding: 0; border: 0; text-align: right; color: white; padding-right: 20px; }
#y-panel div.ft a { padding-left: 4px; }
#y-panel div.ft .button { height: 20px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px; padding-top: 0; line-height: 11px; }
#y-panel .yui-picker-controls { padding-left: 12px; padding-top: 12px; }

.onair.feedbacks {
  padding: 0 20px;
  h2 {
    margin-left: 20px;
    font-size: 20px;
  }
}

.comments_disabled {
  border-top: 1px dashed #EEE;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px dashed #EEE;
  margin-bottom: 30px;
  background-color: #EEE;
}

.footer-social {
  a {
    text-decoration: none; 
    img {
      position: relative;
      top: -1px;
    }
  }
}

/* settings/social */
a.rss { padding-right: 18px; background:url(/images/feed-icon-14x14.png) no-repeat scroll 100% 50%; }

/* comments formatting */
div.comment_text p { margin-bottom: 1em; }

/* remove subscribers on rename page */
.center_data_big_form .remove_subscribers input { width: 16px; display: inline; margin: 0; padding: 0;}
.center_data_big_form .remove_subscribers { font-size: 0.8em; }

/* personal sidebar */
div#sidebar_personal ul { list-style-type: none; margin: 0; padding: 0; }
div#sidebar_personal ul li a.highlight { font-size: 1.1em; font-weight: bold; }
div#sidebar_personal ul li span { font-size: 0.8em; }

/* sidebar about, paragraph fixes */
div#sidebar_about_content p { display: block; padding-bottom: 1em; }
div#sidebar_about_content div#about_submenu span { font-size: 0.8em; }

/* sidebar conversations */
div#sidebar_messages ul { list-style-type: none; margin: 0; padding: 0; }
div#sidebar_messages ul li { margin-bottom: 1em; }
div#sidebar_messages ul li a.highlight { font-size: 1.1em; font-weight: bold; }
div#sidebar_messages ul li span { font-size: 0.8em; }

/* anonymous entries page */
.anonymous_entry_delete_link { margin-top: 20px!important; }

/* feedback admin page */
.onair .feedback { margin: 20px 10px 10px 20px; }
.onair .feedback .feedback_buttons { font-size: 11px; color: #666; }

/* quotes fix */
div.quote_entry span.quote_entry_body p { display: inline; }
div.quote_entry span.quote_entry_source p { display: inline; font-style: italic; font-size: 90%; }

/* news message notify */
.main_page .top_menu li a sup {
  color: #ff0412;
  font: {
    style: italic;
    size: 10px;
  }
  padding-left: 3px;
}

/* disabled buttons */
input.disabled, input.disabled:active {
  color: #ccc !important;
  border: 3px double #ccc !important;
  border-top-color: #ddd !important;
  border-left-color: #ddd !important;
  cursor: default;
}

.anon_warning {
  color: #E69B96;
  font-size: 11px;
  width: 500px;
  margin-bottom: 20px;
}

.limit_exceeded {
/*  text-align: center;*/
  width: 60%;
  margin: 40px auto;
}
.limit_exceeded h2 {
  font-size: 120%;
  margin-bottom: 1em;
}
.limit_exceeded p {
  margin-bottom: 1em;
}


/* bookmate verstka */
.sidebar_books h2 a { color: white; text-decoration: none; }
.sidebar_books h2 img { vertical-align: middle;}
.sidebar_books span { background-color: white; }
.sidebar_books .sidebar_book {
  margin-bottom: 25px;
}
.sidebar_books .sidebar_book img {
  -webkit-box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
  -o-box-shadow: 3px 3px 15px rgba(0,0,0,0.3);  
  box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
  margin-bottom: 5px;
  width: 100px;
}
.sidebar_books .sidebar_book h3 a, .sidebar_books .sidebar_book h4 a {
  background-color: white;
}
.sidebar_books .sidebar_book h4, .sidebar_books .sidebar_book h3 {
  margin: 0 !important;
  padding: 0 !important;
}
.sidebar_books .sidebar_book h4 {
  font-weight: normal;
  font-size: 11px;
}

/* donations */
form.donation label { font-size: 11px; }
form.donation input.submit_donation { margin-top: 20px; margin-left: 380px; }
.donation_thanks { margin-left: 120px; margin-top: 50px; margin-bottom: 50px; }

/* whatever */
.cssdesign { margin: 5px 10px; }
.cssdesign h3 { font-size: 13px; }
.cssdesign .csscontent pre { font-size: 10px; overflow: hidden; white-space: pre-wrap;}
/*.cssdesign .csscontent*/

/* tags cloud on entry edit */
.entry_tags_listing { font-size: 11px; }
.entry_tags_listing a { padding: 0 2px; }

/* twitter icon */
#footer a img.f_twitter { vertical-align: bottom; }
#footer a img.f_facebook { vertical-align: bottom; }
#footer a img.f_vkontakte { vertical-align: bottom; }

/* tasty radio */
.main_page .sidebar_holder #tastyradio { line-height: 1.6em!important;}
.main_page .sidebar_holder #tastyradio p { display: block; background: transparent; margin-bottom: 4px; }
.main_page .sidebar_holder #tastyradio #tastyradio_holder { margin-top: 1em; }
.main_page .sidebar_holder #tastyradio #tastyradio_holder p { display: inline; background-color: white;}
.main_page .sidebar_holder #tastyradio a#tastyradio_edit { background: transparent!important; font-size: 11px; font-style: italic;}
.main_page .sidebar_holder #tastyradio p a { background-color: white; text-decoration: none; }
.main_page .sidebar_holder #tastyradio p span { background-color: white; padding: 0 2px;}
.main_page .sidebar_holder #tastyradio p img { background-color: white; position: relative; top: 2px;}
.main_page .sidebar_holder #tastyradio p img.popout { padding-left: 5px; }
.main_page .sidebar_holder #tastyradio p img.play { padding-right: 5px; }
/*.main_page .sidebar_holder #tastyradio .marquee { overflow-style: marquee-lin; marquee-style: alternate; marquee-play-count: infinite; marquee-speed: normal; width: 140px; position: relative; top: 2px; }
.main_page .sidebar_holder #tastyradio .marquee { marquee-play-count: 0; }
*/
/* conversations & heart */
#pref_friends_rel .pref_friends_control div.pref_friends_convos { font-size: 11px; margin: 0; padding: 0; position: absolute; top: -35px; }
#pref_friends_rel .pref_friends_control div.pref_friends_convos a { font-size: 11px; text-decoration: underline!important; }

/* radioedit */
.new_radio_schedule { font-size: 11px; text-align: left; padding: 20px; }
.new_radio_schedule h3 { padding-top: 0px; margin-top: 0px;}
.new_radio_schedule table { width: 100%; }

.radio_schedule { margin: 20px; text-align: center;padding: 10px; }
.radio_schedule .showonhover { display: none; }
.radio_schedule_onair { background-color: #ccffcc; }
.radio_schedule .radio_schedule_air_at { font-size: 11px; }
.radio_schedule .radio_schedule_body { font-size: 16px; font-family: Georgia; }
.radio_schedule .radio_schedule_owner { font-size: 9px; }
.radio_schedule .radio_schedule_owner a { color: gray!important;}

#new_radio_schedule_block { text-align: center; }
a#new_radio_schedule_showform { font-size: 12px; color: gray; }

.radio_schedule_controls { position: relative; }
.radio_schedule_controls .radio_schedule_delete { position: absolute; left: 460px; }

.comments_warning { margin-bottom: 30px; margin-left: -100px; padding-left: 30px; font-size: 12px; color: #ffaaaa; }
.post_comment_ban { font-size: 10px; color: #ccc; }
.post_comment_ban a { color: #ccc; text-decoration: none; }

.user_rel .hover { visibility: hidden; }
.user_rel:hover .hover { visibility: visible; }

.t-entry-warn {
  border: 1px solid #FBB;
  background-color: #FEE;
  padding: 3px 3px 3px 12px;
  color: #544;
}

.light-red {
  color: #A44;
}
.light-red a {
  color: #A44;
}

/* legacy stuff */
form.small {
  table td {
    padding: 4px;
  }
  input, #design_css textarea {
    font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
    font-size: 11px;    
  }
}

div.settings {
  #sidebar_is_open_td {
    label {
      line-height: normal;
    }
    input#sidebar_is_open {
      margin: 3px 2px;
      font-size: 11px;
    }
  }
  #sidebar_hide_show_menu {
    .sidebar_hide_show_menu_item {
      margin-top: 5px;
      input {
        margin: 3px 2px;
        font-size: 11px;
      }
      label {
        line-height: normal;
      }
    }
  }
  #sidebar_sections {
    margin-left: 40px;
    ul {
      margin-left: 40px;
    }
  }
  input, textarea {
    font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
    font-size: 11px;
  }
}

#post_comment_form {
  input.button, input.comment_send {
    font-size: 13px;
    margin-left: 2px;
    margin-right: 2px;
    font-family: Tahoma, Arial, courier;
  }
  input.comment_send {
    margin-top: 20px;
  }
}

i, em { font-style: italic; }

b { font-weight: bold; }

#entry_edit_form {
  input, textarea {
    font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
  }
}

.main_page .section_nsfw {
  .section_nsfw_options {
    span { background: white; }
    a {
      background-color: white;
      padding: 0 2px;
      &:hover { background-color: #ccc}
      &.selected { background-color: #999; }
    }
  }
}

//.main_page .onair .post_body .post_nsfw_sticker {
//  position: relative;
//  left: -92px;
//  font-size: 10px;
//  background-color: red;
//  color: white;
//  width: 32px;
//  padding: 0 2px;
//  top: 16px;
//
//  a {
//    color: white;
//    text-decoration: underline;
//  }
//}

input.placeholder, textarea.placeholder {
  color: #ccc;
  font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
  line-height: normal;
}

#t-act-shortcut {
  position: fixed;
  color: white;
  font-family: Georgia, serif;
  font-size: 14px;
  // text-shadow: #666 1px 1px 2px;
  left: 0;
  top: 0;
  margin: 0px;
  padding: 10px;
  vertical-align: middle;
  cursor: pointer;
  cursor: hand;
  z-index: 3;
  display: none;
  
  &.thincut {
    background-color: white;
    color: #404040;
    font-size: 14px;
    line-height: 17px;
    padding: 2px 5px;
    text-align: center;
    top: 2px;
    left: 2px;    
  }
}

.settings .t-controller-settings-default {
  #privacy-note {
    color: red;
  }
}

.t-premium-accounts {
  p {
    img.t-ico-exit {
      margin-bottom: -8px;
    }
  }
}

.t-accounts-switcher.popup {
  padding: 20px;
  h2 {
    color: #404040;
    font-size: 26px;
    font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
    letter-spacing: -1;
    margin-bottom: 20px;
  }
  
  .accounts {
    width: 499px;
  
    input.button {
      font-size: 11px;
      margin-top: 0px;
    }
  }
}

.t-accounts-switcher {
  .actions {
    margin-top: 10px;

    a {
      color: orange;    
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .accounts {
    hr {
      margin-bottom: 0px;
      margin-top: 0px;
      clear: both;
      border-top: 1px solid #eee;
    }
    .account {
      margin-top: 10px;
      .userpic {
        float: left;
        width: 64px;
        height: 64px;
        border: 1px solid #eee;
        padding: 3px;
        margin-bottom: 10px;
        img.avatar {
          padding: 0;
          margin-bottom: 0;
        }
      }
      .details {
        float: left;
        width: 240px;
        height: 70px;
        margin-left: 20px;
        color: #999;
        
        .url {
          font-weight: bold;
          font-family: Trebuchet MS, arial;
          font-size: 14px;
          margin-bottom: 5px;
        }
        p {
          font-size: 11px;
          margin: 0;
          padding: 0!important;
        }
      }
      .controls {
        float: left;
        height: 70px;
        width: 160px;
        height: 70px;
        text-align: right;
        .self {
          font-size: 11px;
          color: #444;
        }
        
        a.unlink {
          font-size: 11px;
          text-decoration: none;
          color: #666;
          &:hover {
            text-decoration: underline;
          }
          img {
            vertical-align: text-bottom;
          }
        }
      }
    }
  }
}

.settings .t-controller-settings-premium {
  
  a.button {
    margin-top: 7px;
    padding: 5px 8px;
    height: 17px;
    border: 3px double #999!important;
    border-top-color: #CCC!important;
    border-left-color: #CCC!important;
    background: #f0f0f0!important;
    font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
    color: #404040!important;
    font-size: 11px;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    vertical-align: center;
  }
  
  .header {
    a.button {
      position: relative;
      top: -4px;
    }
  }
  .t-premium-invoices {
    .entry_pagination {
      padding-left: 20px;
    }
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 8px;
      td {
        p {
          padding: 0!important;
          margin: 0;
        }
      }
      td.duration {
        font-size: 13px;
      }
      td.datetime {
        font-size: 11px;
        color: #999;
      }
      td.position {
        font-size: 11px;
        
      }
    }
  }
  .t-premium-backgrounds {
    .backgrounds {
      .clear div {
        clear: both;
      }
      .background:hover .delete, .background:hover .note-set, .background:hover .note-current {
        visibility: visible;
      }
      .background {
        float: left;
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-bottom: 20px;
        cursor: pointer; cursor: hand;
        
        .note-set, .note-current {
          visibility: hidden;
          padding: 2px;
          display: block;
          background-color: white;
          color: #404040;
          font-size: 10px;
          width: 60px;
          margin: 0 auto;
          margin-top: 30px;
          border: 1px solid #eee;
          text-align: center;
        }
        
        .delete {
          visibility: hidden;
          position: relative;
          float: left;
          left: 83px;
          width: 15px;
          height: 15px;
          padding: 1px;
          margin: 0;
          background-color: white;
          
          img {
            margin: 2px;
          }     
        }
        
        border: 4px solid #eee; 
        &.selected {
          border: 4px solid #ccc;
        }
        &:hover {
          border: 4px solid #ddd;
        }
      }      
    }
    .preview {
      width: 340px;
      background-color: white;
      text-align: center;
      padding: 20px 80px 0px 80px;
      z-index: 1;
      
      .title {
        img {
          width: 100px;
        }
        .subtitle {
          font-size: 10px;
        }
        margin-bottom: 20px;
      }
      .menu {
        font-size: 11px;
        margin-bottom: 4px;
        span {
          display: inline-block;
          margin: 0 2px;
          padding: 2px 4px;
          background-color: white;
          color: #404040;
          &.selected {
            background-color: #404040;
            color: white;
          }
        }
      }
      
      .content {
        overflow: visible;
        text-align: left;
        background-color: white;
        width: 260px;
        padding: 10px 40px 20px 40px;
        .author {
          position: relative;
          z-index: 2;
          left: -90px;
          top: 16px;
          width: 50px;
          background-color: transparent;
          font-size: 11px;
          text-align: right;
          span {
            background-color: #404040;
            color: white;
            padding: 0 2px;            
          }
        }
        .text { margin: 0; padding: 0; }
        .link { margin: 0; padding: 0; }
        .quote { margin: 0; padding: 0; }
        .image { margin: 0; padding: 0; }
        .entry.text {
          p {
            font-size: 10px;
            border-left: 1px dotted black;
            padding: 0 0 0 5px!important;
            margin: 2px 0px;
          }
        }
        .entry.image {
          img {
            width: 100%;
          }
        }
        .entry.link {
          a {
            color: red;
            font-size: 12px;
          }
        }
        .entry.quote {
          p {
            padding: 0!important;
            font-size: 20px;
            span {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
  .premium-features {
    .paylink {
      font-size: 24px;
      color: orange;
    }
    
    .enabled {
      .alert { color: #F26882; }
    }
    
    hr {
      color: #eee;
      margin-top: 20px;
      margin-bottom: 20px;
      clear: both;
    }
    
    h3 {
      font-size: 24px;
      color: #444444;
      margin-bottom: 20px;
    }

    .feature {
      float: left;
      margin-bottom: 30px;

      .bold {
        font-weight: bold;
        color: #444;
      }
      .change {
        margin-top: 10px;
      }
      p {
        margin: 0;
        padding: 0!important;        
      }
    }
    
    img.shadow {
      position: relative;
      left: -20px;
    }

    .killer-features {
      margin-top: 20px;
      .feature {
        width: 228px;
      }
      .bold {
        font-size: 16px;
      }
      .pad {
        margin-right: 40px;
      }
    }
    
    .extra-features {
      .feature {
        width: 150px;
      }
      .bold {
        font-size: 13px;
      }
      .pad {
        margin-right: 20px;
      }
      #grateful {
        line-height: 16px;
        display: block;
        padding-top: 10px;
        font-size: 10px;
      }
    }
  }
}

.t-avatar-badge-pro {
  display: inline;
  background-color: #6666EE;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  vertical-align: top;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.t-premium-background {
  padding: 40px;

  h2 {
    margin: 0;
    padding: 0;
    font-family: Myriad Pro, Tahoma, arial;
    line-height: 1.2em;
    color: #404040;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 0;
    color: #444444;
    cursor: pointer;
    margin-bottom: 15px;
    
    input {
//      background: #DAFFDA;
      padding: 3px;
//      width: 480px;
      display: block;
//      border: 1px solid #333;
//      font-size: 27px;
//      font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
    }
  }
  input.button {
    margin-top: 20px;
  }
  
}

.t-premium-link {
  padding: 40px;
  
  p {
    margin-bottom: 20px;
    font-size: 13px;
    font-family: Tahoma, Arial, sans-serif;
  }

  .error {
    margin: 0;
    text-align: center;
    font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
    padding: 10px 45px;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    cursor:pointer;
  	cursor:hand;
  	font-size:90%;
  	margin-bottom: 10px;
  	background: #d23d24;
  	display: none;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: Myriad Pro, Tahoma, arial;
    line-height: 1.2em;
    color: #404040;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 0;
    color: #444444;
    cursor: pointer;
    margin-bottom: 15px;
    
    input {
      background: #DAFFDA;
      padding: 3px;
      width: 480px;
      display: block;
      border: 1px solid #333;
      font-size: 27px;
      font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
    }
  }
  input.button {
    margin-top: 20px;
  }
}

.t-premium-switch {
  h2 {
    font-size: 32px;
    font-family: 'Lucida Grande', 'Myriad Pro', 'Tahoma', arial;
    letter-spacing: -1px;
    color: #404040;
    margin: 0;
    padding: 0;
  }
  label {
    margin: 0;
    padding: 0;
    display: block;
    color: #9E9E9E;
    font-size: 45px;
    font-family: Tahoma, Arial, 'sans serif';
    
    input {
      margin: 0;
      padding: 0;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
  
}

.t-premium-payment {
  h3 {
    color: #444;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  margin: 20px;
  
  #t-premium-payment-method {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    .method {
      margin: 5px 0;
      font-size: 14px;
      font-family: sans-serif;
      input {
        margin-right: 5px;
      }
    }
  }
  
  #t-premium-payment-qiwi {
    #qiwi-choose {
      #phone-demo {
        margin-top: 3px;
        font-size: 11px;
        color: gray;
      }
      #phone-hint {
        font-size: 11px;
        color: red;
        padding-left: 4px;
      }
      table tr td {
        padding: 4px;
      }
      .button {
        margin: 0;
      }
      .details {
        margin-top: 10px;
        padding: 4px;
        font-size: 11px;
        background-color: #eee;
      }
    }
  }

  #t-premium-payment-sms {
    .operators {
      display: inline;

      .numbers {
        display: inline;

        .details {
          margin-top: 10px;
          .info {
            font-size: 18px;
            text-align: center;
            padding: 30px 10px;
            border: 1px dashed #eee;
            span {
              background-color: #ccc;
              padding: 0 2px;
              font-weight: bold;
            }            
          }
          .meta {
            background-color: #eee;
            padding: 4px;
            margin-top: 10px;
            p.rates {
              font-size: 11px;
            }
            p.mts_info {
              padding-top: 10px;
              font-size: 11px;
              font-style: italic;
            }
            
          }
        }
      }
    }
  }
}