/* global */
.avatar {
	border: 1px solid #aaa;
}

/* entries */
.t-entries {
	background-color: white;
}

.t-entries .t-entry {
	padding-bottom: 20px;
}

/* entry styling */
.t-entry {
	font-size: 0.8em;
	background-color: white;
}

.t-entry .t-entry-header {
	padding: 10px 0;
}

.t-entry .t-entry-header-avatar {
	vertical-align: middle;
	margin-right: 3px;
}

.t-entry .t-entry-header-author {
	text-decoration: none;
}

.t-entry .t-entry-text {
	text-overflow: ellipsis-word;
	-o-text-overflow: ellipsis-word;
}

.t-entry .t-entry-text-body {
	border-left: 1px dotted black;
	padding-left: 10px;	
	text-overflow: ellipsis-word;
	-o-text-overflow: ellipsis-word;
}

.t-entry .t-entry-quote-body {
	font-size: 150%;
	display: block;
	line-height:1.35em;
	color:#333;
	letter-spacing:-1px;
	text-indent:-20px;
	padding:0 20px;
}

.t-entry .t-entry-quote-body p {
	display: inline;
}

.t-entry .t-entry-quote-source {
	font-size: 100%;
	font-style: italic;
	display:block;
}

.t-entry .t-entry-quote-source p {
	display: inline;
}

.t-entry .t-entry-quote-laquo, .t-entry .t-entry-quote-raquo {
	display: inline;
	font-family: 'Times New Roman';
	font-size: 130%;
	bottom: -1px;
	padding: 0 4px;
	color:#ACACAC;
	line-height: 0.01em;
}

.t-entry .t-entry-link {}
.t-entry .t-entry-link-href {
	font-size: 1.5em;
}

.t-entry .t-entry-footer {
	margin-top: 10px;
}

.t-entry .t-entry-footer-ctl a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ddd;
	padding: 2px 6px;
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 1em;
	text-shadow: 1px 1px 1px white;
}

.t-entry .t-entry-footer-ctl .t-entry-rating {
	padding: 2px 6px;
	background-color: #ddd;
	font-weight: bold;
	font-size: 1em;
	text-shadow: 1px 1px 1px white;
}

.t-entry .t-entry-image img.t-entry-image-img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #ddd;
	background-color: #ddd;
	padding: 4px;
}

.t-entry .t-entry-convo .t-entry-convo-body {
	
}

.person_1, .person_2, .person_3, .person_4, .person_5, .person_6, .person_7, .person_8, .person_9, .person_10  {
	padding:8px 15px;
	color:#404040;
	font-size:0.85em;
	
}
.person_1 span, .person_2 span, .person_3 span, .person_4 span, .person_5 span, .person_6 span, .person_7 span, .person_8 span, .person_9 span, .person_10 span {
	font-weight:bold;
	letter-spacing:2px;
	font-size:0.8em;
} 
.person_2 {
	background:#ccc;
}
.person_1 {
	background:#e9e9e9;
}
.person_3 {
	background:#ddd;
}
.person_4 {
	background:#acacac;
}
.t-comment {
	font-size: 80%;
	margin-bottom: 20px;
	clear: left;
}
.t-comment .t-comment-avatar {
	width: 40px;
	height: 40px;
	float: left;
}
.t-comment .t-comment-avatar img.avatar {
	border: 1px solid #aaa;
}
.t-comment .t-comment-body {
/*	float: left;*/
	margin-left: 40px;
	margin-bottom: 20px;
}
.t-comment .t-comment-meta {
	margin-top: 5px;
	margin-bottom: 5px;
}
.t-comment .t-comment-meta .t-comment-username a {
	text-decoration: none;
}
.t-comment-by-anonymous .t-comment-username {
	font-weight: bold;
}
.t-comment .t-comment-meta .t-comment-time {
	color: #999;
/*	font-style: italic;*/
}
