/* -- RESET -- */
dl,dd,dt,th,td,ul,ol,h1,h2,h3,h4,h5,h6,p,form,html,body{margin:0;padding:0}
img{border:0;vertical-align:top}
body{line-height:1}
ol,ul{list-style-type:none}
:focus{outline:none}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;height:1px;font-size:1px;visibility:hidden;}
ins{text-decoration:none}
input,textarea,select{margin:0}
.cfix:after,.top-i:after{height:0;visibility:hidden;display:block;font-size:0;content:" ";clear:both;}

/* -- TYPOGRAPHY -- */
body{font:75% Arial,Verdana,Tahoma,Sans-serif;color:#fff}
input,textarea,option,select{color:#111}
a{color:#fff;text-decoration:underline}
a:hover{color:#fff;text-decoration:none}
/* 829181 */
/* -- STRUCTURE -- */
body,html{height:100%;background:url(/images/specials/newyear/white_texture.png) repeat 0 0; }
#wrapper{width:100%;min-width:1160px;text-align:left;position:relative;z-index:10}
	.w-outer{width:872px;padding:0 30px;margin:auto}

/* -- SPECIAL CLASSES -- */
.ico{position:absolute;display:block;overflow:hidden;font-size:1px;line-height:normal}
a .ico{cursor:pointer}

/* -- Top -- */
.top{width:100%;position:relative;background:#606D5F;font-weight:bold;text-shadow:1px 1px 0 #373F37;-webkit-box-shadow: 0 1px 20px 0 #606d5f;-moz-box-shadow: 0 1px 20px 0 #606d5f;box-shadow: 0 1px 20px 0 #606d5f;}
	.top .btm-sh-top{width:100%;height:20px;position:absolute;top:100%;left:0;}
	.top-i{width:1100px;padding:16px 30px 11px;margin:auto;}
		.top a{text-decoration:none}
		.top a:hover{text-decoration:underline}
		.top .b-logotype{width:163px;margin-right:62px;float:left}

/* -- Who -- */
.b-who{padding:5px 0;float:right;font-size:1.25em;line-height:1.267em}
	.b-who a{color:#d8e7ec}
	.b-who a:hover{color:#d8e7ec}

/* -- Main navigation -- */
.b-navigation{width:750px;margin-right:-15%;float:left;font-size:1.167em;line-height:1.429em}
	.b-navigation li{padding:5px 13px;float:left}
		.b-navigation li a{color:#d2dde1}
		.b-navigation li a:hover{color:#d2dde1}

/* -- Middle -- */
.middle{padding:52px 0;text-shadow:1px 1px 0 #4A554A;letter-spacing:-0.016em}