.t-entry-anonymous
  = content_tag :h2, white_list_entry(entry.data_part_2, :media_width => 285), :class => 't-entry-anonymous-header' if entry.data_part_2
  .t-entry-anonymous-body
    = white_list_entry(entry.data_part_1, :media_width => 285)