<div class='t-entry-quote'>
	<span class='t-entry-quote-body'>
		<span class='t-entry-quote-laquo'>&laquo;</span><%= white_list_entry entry.data_part_1, :use_br => true %><span class='t-entry-quote-raquo'>&raquo;</span>
	</span>
	<% if entry.data_part_2 %>
		<span class='t-entry-quote-source'>
			&mdash;&nbsp;<%= white_list_entry entry.data_part_2, :use_br => true %>
		</span>
	<% end %>
</div>