<div class='t-entry-text'>
<% if entry.data_part_2 %>
	<h2 class='t-entry-text-header'><%= strip_tags entry.data_part_2 %></h2>
<% end %>
<div class='t-entry-text-body'><%= white_list_entry entry.data_part_1 %></div>
</div>