<div class='t-entry-video'>
  <div class='t-entry-video-embed'><%= white_list_video_entry(entry.data_part_1) %></div>
  <%= content_tag :div, white_list_entry(entry.data_part_2), :class => 't-entry-video-comment' if entry.data_part_2 %>
</div>