.t-entry-video
  .t-entry-video-embed
    = white_list_entry(entry.data_part_1, :media_width => 285)
  = content_tag :div, white_list_entry(entry.data_part_2, :media_width => 285), :class => 't-entry-video-comment' if entry.data_part_2