<!doctype html>
<html>
  <head>
    <%= render :partial => 'globals/head' %>
  
    <script type='text/javascript'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1562460-1']);
      _gaq.push(['_setDomainName', '.mmm-tasty.ru']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackEvent', 'Error', '404', 'Page not found']);

      (function() {
          var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </head>
  <body class="bg_404">
    <div id="error_404">
      <%= yield %>
    </div>
  </body>
</html>
