!!! 5
<!--[if lt IE 7 ]> <html class="ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="ru"> <!--<![endif]-->
%head
  = render :partial => 'globals/head'
  - if is_premium? && current_user.tlog_settings.main_background?
    :css
      body.main_page { background:url(#{current_user.tlog_settings.main_background.url}) fixed; }

%body
  .main_page
    .main_rounded_holder
      .rounded_main_center
        = yield

</html>