<% @title = 'пожертвование' %>
<% content_for :header do %>
	Пожертвование
	<% if current_user.transactions.success.count.nonzero? %>
	  <sup>
	  <% current_user.transactions.success.each do |transaction| %>
	    <%= image_tag 'donation_heart.jpg', :alt => '', :title => "#{distance_of_time_in_words_to_now(transaction.created_at)} назад, #{transaction.amount} рублей"%>
	  <% end %>
	  </sup>
	<% end %>
<% end %>

<p>Тейсти — это бесплатный и некоммерческий проект, живущий полностью за счет пожертвований различных доброжелателей.</p>

<p>Все пожертвованные деньги пойдут на поддержку и развитие сервиса, и так же на введение новых неожиданных возможностей, насколько это вообще возможно в современном интернете.</p>

<p><b>ВАЖНО!</b> Пожертвование <b>абсолютно добровольное</b> и ни к чему не обязывает, и чтобы вы однозначно понимали — разницы между платными и бесплатными аккаунтами на сервисе не существует.</p>

<p>Если вам интересно, то деньги получают вот эти два парня — <%= link_to 'andy', user_url(User.find(1)) %> и <%= link_to 'genue', user_url(User.find(2)) %>, и они же полностью отвечают за все, что здесь происходит.</p>

<% if @show_form %>
  <h2>Выбор за вами</h2>

  <form method='post' class='donation'>

    <div><label><input type='radio' name='amount' value='20' checked='checked' /> — 20 рублей</label></div>
    <div><label><input type='radio' name='amount' value='50' /> — 50 рублей</label></div>
    <div><label><input type='radio' name='amount' value='100' /> — 100 рублей</label></div>
    <div><label><input type='radio' name='amount' value='200' /> — 200 рублей</label></div>
  
    <div><label><input type='submit' value='Пожертвовать ...' class='submit_donation' /></label></div>
  </form>
<% else %>
  <div class='donation_thanks'>
    <%= image_tag 'donation_thanks.jpg', :alt => 'C П А С И Б О !', :title => 'С П А С И Б О !' %>
  </div>
<% end %>