<% @title = 'пожертвование' %>
<% content_for :header do %>
	Пожертвование
	<% if current_user.transactions.success.count.nonzero? %>
	  <sup>
	  <% current_user.transactions.success.each do |transaction| %>
	    <%= image_tag 'donation_heart.jpg', :alt => '', :title => "#{distance_of_time_in_words_to_now(transaction.created_at)} назад, #{transaction.amount} рублей"%>
	  <% end %>
	  </sup>
	<% end %>
<% end %>


<p><b>Текущий статус</b>: идет сбор денег на март. Нам нужно не меньше 15 000 рублей в месяц.</p>

<p>Тейсти — это бесплатный и некоммерческий проект, живущий полностью за счет пожертвований различных доброжелателей.</p>

<p>Пожертвование <b>абсолютно добровольное</b> и ни к чему не обязывает, но дает уверенность что проект будет расти и развиваться.</p>

<p>Пожертвование нужно переводить на наш Яндекс.Кошелек <b>4100173244936</b>. Переводите любую сумму, которую сочтете уместной. В комментарии к переводу можете указать свой ник на сайте, чтобы мы знали кого благодарить.</p>

<p>Все пожертвованные вами деньги пойдут на поддержку и развитие сервиса, а так же на введение новых неожиданных возможностей, насколько это вообще возможно в современном интернете.</p>

<p><i>PS. Деньги получает и обрабатывает <%= link_to 'andy', user_url(User.find(1)) %>, как самое отвественное лицо.</i></p>

<% if false %>
<% if @show_form %>
  <h2>Выбор за вами</h2>

  <form method='post' class='donation'>

    <div><label><input type='radio' name='amount' value='20' checked='checked' /> — 20 рублей</label></div>
    <div><label><input type='radio' name='amount' value='50' /> — 50 рублей</label></div>
    <div><label><input type='radio' name='amount' value='100' /> — 100 рублей</label></div>
    <div><label><input type='radio' name='amount' value='200' /> — 200 рублей</label></div>
  
    <div><label><input type='submit' value='Пожертвовать ...' class='submit_donation' /></label></div>
  </form>
<% else %>
  <div class='donation_thanks'>
    <%= image_tag 'donation_thanks.jpg', :alt => 'C П А С И Б О !', :title => 'С П А С И Б О !' %>
  </div>
<% end %>
<% end %>